* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.btns {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: black;
  gap: 1px;
  border-top: 1px solid black;
}

.btns button {
  transition: 250ms;
}

.btns button:hover {
  opacity: 0.8;
}

.btns button:active {
  background-color: black;
  color: white;
}

.display {
  background-color: white;
  flex: 0 0 1;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 200px;
  height: 300px;
}

h3 {
  margin: 0;
  height: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

button {
  border: 0;
}

.numbtn {
  background-color: #ddd;
}

.func {
  background-color: #aaa;
}

.clear {
  background-color: orange;
}
