* {
  box-sizing: border-box;
}

.container,
.btns button,
.display {
  border-radius: 5px;
}

body,
.container,
.display {
  display: flex;
}

body {
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  flex-direction: column;
  background-color: black;
  padding: 10px;
  box-shadow: #444 0px 0px 50px;
  width: 400px;
  height: 600px;
  font-size: 30px;
}

.btns {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  padding-top: 10px;
}

.btns button {
  transition: 250ms;
  font-size: 30px;
  border: 0;
}

.btns button:hover {
  opacity: 0.8;
}

.btns button:active {
  background-color: black;
  color: white;
}

.active {
  background-color: black !important;
  color: white;
}

.display {
  background-color: #444;
  box-shadow: #222 0px 5px 5px inset;
  color: green;
  flex: 0 0 1;
  height: 100px;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  font-size: 57px;
  align-items: center;
  justify-content: flex-end;
  padding: 40px 20px 30px 20px;
  text-shadow: #222 0px 2px 5px;
}

.numbtn {
  background-color: #ddd;
}

.func {
  background-color: #aaa;
}

.clear {
  background-color: orange;
}
